<h1>About us</h1>
<p>Mission Statement:<br>At JPV Systems, we're on a mission to make ICT services accessible to everyone</p>
<p>Our Story:<br>
Founded on Passion, Driven by Purpose.
JPV Systems was born out of a shared passion for technology and a deep commitment to equality. Learn about our journey, from inception to our ongoing efforts to make a difference.</p>
<p>
Team:
Meet the Change-Makers
Get to know the dedicated individuals behind JPV Systems. Our team brings together a wealth of experience, united by the belief that every girl deserves an equal opportunity in the tech world.</p>
<p>
Values:
Guided by Inclusivity and Equality
Our core values shape everything we do. At JPV Systems, we champion inclusivity, diversity, and equal opportunities, creating a supportive environment for girls in ICT.</p>



