<h1>Welcome to JPV Systems</h1>

<div class="row mt-4">
	<div class="col-lg-4">
		<p><b>Agenda 1:</b> bridge the gender gap in Information and Communication Technology. <br>Explore the exciting world of ICT with us and join the movement to empower the next generation of female tech leaders.</p>
	</div>
	<div class="col-lg-8">
		<p>Be Part of the Change:<br><br>
			Parents, educators, and girls, it's time to get involved! Explore our upcoming events, workshops, and mentorship opportunities. Together, let's pave the way for a more inclusive tech industry.</p>
	</div>
	<div class="col-lg-12">
		<a href="#">Join Our Community</a>
	</div>
	
</div>


